*{
	padding:0px;
	margin:0px;
}

body{
	position:fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}
.weui-tab{
	width: 100%;
	height: 100%;
}

/*底部一级菜单*/
.weui-tabbar .weui-tabbar__item{
	background: rgb(0, 80, 95);
}

.weui-tabbar .weui-tabbar__item p.weui-tabbar__label{
	color: rgb(93, 251, 255);
}

/*一级菜单高亮*/
.weui-tabbar .weui-bar__item_on{
	background: rgb(139, 104, 0);
}

.weui-tabbar .weui-bar__item_on p.weui-tabbar__label{
	color: white;
}

/*二级菜单*/
.weui-tab-item .weui-navbar .weui-navbar__item{
	background: rgb(0, 80, 95);
	color: rgb(93, 251, 255);
}
/*二级菜单高亮*/
.weui-tab-item .weui-navbar .weui-bar__item_on{
	background: rgb(139, 104, 0);
	color: white;
}

/*主界面*/
.weui-tab-item .container{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 50px;
	bottom: 50px;
}

.weui-tab-item #docContainer .weui-panel{
	height:100%;
	overflow-y: auto;
}

.weui-tab-item #docContainer .weui-icon-search{
	position: absolute;
	top: 15px;
}

.weui-tab-item #docContainer input#filter{
	padding-left: 30px;
}

#filesFound img{
	width: 30px;
	height: 30px;
	overflow-y: auto;
}

#docContainer .weui-panel:after{
	border-bottom: none;
}
